.vscode

Help/Driver/
Help/Example/
Help/API/
Help/Utility Tool/

Source/bin/
Source/obj/

# В глобальном .gitignore автоматически добавлена строка *.dll
!Source/References/Custom.Fiscal.RUSProtocolAPI.dll
